/*
 * Colores:
 * #362222 PRINCIPAL
 * #171010 SECUNDARIO
 * #423F3E TERCIARIO
 * #2B2B2B CUATERNARIO
 */

* {
    font-family:monospace!important;
}

body {
    background-color:#362222!important;
    color:#87805E!important;
}

button {
    padding: 0;
    border: none;
    background-color: inherit;
}

.home {
    display:grid;
    gap: 1.5rem;
    align-content:center;
    justify-items:center;
}

.personal {
    text-align: center;
}

.card {
    border: 2px solid #423F3E!important;
    background-color: #171010!important;
}

.terminal {
    width: 50%;
}

.redirect {
    color: #6197cd;
}

.content { 
    width: 75%;
    display: none!important;
}
